html,
body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px; /* Độ rộng thanh cuộn */
}

/* Thiết lập màu sắc cho thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #555; /* Màu sắc của thanh cuộn */
  border-radius: 10px; /* Bo tròn viền của thanh cuộn */
}
